html{
    height:100%;
    width: 100%;
}

body{

    font-size:x-large;
   background-image: url("/images/background.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   font-family: monospace;
   padding:0px;
   margin:0px;
   height:100%;
   width: 100%;
}

#wrapper {
display:flex;
flex-direction: column;
width:60%;
height:600px;
background-color: rgba(253, 226, 255, 0.5);
border-radius: 50px;
margin: 0 auto;
padding:25 px;
margin-top: 50px;
}

h1 {
    margin:0 auto;
    padding: 10px;
}

#inputBox {
    display:flex;
    margin:0 auto;
    padding:10px;
    align-items: center;
    justify-content: center;

}
#inputBox input {
    border-radius:5%;
    width:150px;;
    height:20px;
    margin:15px;
}

#inputBox button {
    border-radius:5%;
    width:100;
    height:20px;
    margin:15px;
    background-color: rgba(204, 215, 252, 0.4);
}


.todoP {
    display:flex;
    border: 2px solid rgba(206, 207, 212, 0.8);
    background-color: rgba(204, 215, 252, 0.4);
    margin:0 auto;
    margin-top:3px;
    height:50px;
    align-items: center;        
}

p>a {
    display:flex;
    text-decoration: none;
    font-size: large;
    color:black;
    border:1px solid white;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    height:50px;
    width:60px;
    margin-left:15px;
    margin-right: 5px;
    
}
p>a:hover{
    background-color: rgba(204, 215, 252, 0.8);
}



#todoName{
width:40%;
margin-left: 10px;
}
#todoDate {
    width:40%;
    font-size: medium;
}


.showSort>a {
    text-decoration: none;
    color:black;


}
@media screen and (max-width: 600px){

#wrapper {
    width:100%;
    
}
body{
    font-size: smaller;
}
p>a {
    font-size: smaller;
    margin-left:15px;
    width:30px;
    height:30px;

}
#todoName{
    width:33%;
    }
 #todoDate {
        width:33%;
        font-size: smaller;
    }




}